{% extends "base.html" %}

{% block content %}
<h1 class="important">Registered Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Idx</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users%}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}